body{
  margin:0;
  padding:0;
  background:black;
  overflow:hidden;
  height:100vh;
}

/* SUN */
.sun{
  width:120px;
  height:120px;
  background:orange;
  border-radius:50%;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  box-shadow:0 0 50px yellow;
}

/* COMMON ORBIT */
.orbit{
  position:absolute;
  top:50%;
  left:50%;
  border:1px solid rgba(255,255,255,0.2);
  border-radius:50%;
  transform:translate(-50%,-50%);
}

.planet{
  position:absolute;
  border-radius:50%;
  top:50%;
  transform:translateY(-50%);
}

/* MERCURY */
.mercury-orbit{
  width:180px;
  height:180px;
  animation:rotate 5s linear infinite;
}

.mercury{
  width:15px;
  height:15px;
  background:gray;
  left:-7px;
}

/* VENUS */
.venus-orbit{
  width:250px;
  height:250px;
  animation:rotate 8s linear infinite;
}

.venus{
  width:22px;
  height:22px;
  background:gold;
  left:-11px;
}

/* EARTH */
.earth-orbit{
  width:340px;
  height:340px;
  animation:rotate 12s linear infinite;
}

.earth{
  width:24px;
  height:24px;
  background:deepskyblue;
  left:-12px;
}

/* MARS */
.mars-orbit{
  width:430px;
  height:430px;
  animation:rotate 16s linear infinite;
}

.mars{
  width:20px;
  height:20px;
  background:red;
  left:-10px;
}

/* JUPITER */
.jupiter-orbit{
  width:550px;
  height:550px;
  animation:rotate 22s linear infinite;
}

.jupiter{
  width:45px;
  height:45px;
  background:burlywood;
  left:-22px;
}

/* SATURN */
.saturn-orbit{
  width:700px;
  height:700px;
  animation:rotate 28s linear infinite;
}

.saturn{
  width:40px;
  height:40px;
  background:khaki;
  left:-20px;
}

/* URANUS */
.uranus-orbit{
  width:850px;
  height:850px;
  animation:rotate 35s linear infinite;
}

.uranus{
  width:35px;
  height:35px;
  background:lightblue;
  left:-17px;
}

/* NEPTUNE */
.neptune-orbit{
  width:1000px;
  height:1000px;
  animation:rotate 45s linear infinite;
}

.neptune{
  width:34px;
  height:34px;
  background:blue;
  left:-17px;
}

/* ROTATION */
@keyframes rotate{

  from{
    transform:translate(-50%,-50%) rotate(0deg);
  }

  to{
    transform:translate(-50%,-50%) rotate(360deg);
  }

}